[Desktop Entry]
Type=Application


Name[us]=Activar


Exec=sudo activar
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Terminal=false
NoDisplay=true
StartupNotify=true
Encoding=UTF-8

X-GNOME-Autostart-Delay=10
